body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    font-size: 1.125 rem;
    line-height: 1.9 em;
    width: 960px;
    padding : 2em;
    border-radius : 25px;
    border: 5px solid ;
    padding: 20px;
    margin: auto; 
    margin-top: 2em;
    margin-bottom: 2em;/* Centers the body */
    box-sizing: border-box; /* Ensures padding doesn't increase width */
}

h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #b85c5c;
}

h1 {
    font-size: 2.5 rem;
    margin-bottom: 1em;
}
img {
    display: block;
    margin: 0 auto;
    width: 300px;
}
li {
    margin-bottom: 1em;
}
h2 {
    margin-top: 2em;
}
